@use "variables" as v;
@use "mixins" as m;

.container{
    
    &__title{
        color: v.$my_lilac;
        display: flex;
        flex-direction: column;
        align-items:  center;
    }
    &__products{
        width: 100%;
    }
}