@use "variables" as v;
@use "mixins" as m;

#Shipping-form {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#billing-form {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flexbox-5050 {
    display: flex;
    width: 72%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
input::placeholder {
    color: v.$secundary_color;
}
input {
    background-color: v.$input_bgcolor;
    width: 70%;
}
fieldset {
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}