@use "mixins" as m;
@use "variables" as v;

.review__container{
    width: v.$full_width;

background-color: v.$primary_bg; ;
    display: flex;
    flex-direction: column;
    display:flex;
    align-items: center;
    padding-top: v.$small;
    padding-bottom: v.$small;
    
    &__boxes{
        width: 300px;
        height: v.$xlarge;
        background-color: v.$my_purple;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: v.$xsmall;
        margin: v.$xsmall;
        
        &__reviews{
            color: v.$secundary_color;
            width: 250px;
            height: 150px;
            font-size: 0.8em;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            align-items: center;
        justify-content: center;
        }
    }
}