$hero_image : url(../images/negative-space-black-forest-dawn.jpg);

/*Breakpoints*/
$desktop_breakpoint: 800px;

/*Sizes*/
$zero : 0px;
$xsmall : 5px;
$small : 10px;
$small-medium: 18px;
$medium : 20px;
$large : 30px;
$xlarge : 100px;
$xxlarge : 300px;

$nav_font_size : 32px;
$border_size : 2px;


$full_height : 100%;
$full_width : 100%;
$half : 50%;

/*colors*/

$main_color : white;
$secundary_color : black;
$primary_bg: #B4C4AE;
$my_purple: #586994;
$my_lilac: #7D869C;
$pay_button: #E5E8B6;