@use 'variables' as v;
@use "reviews";
@use 'mixins' as m;

body{
    background-color: v.$primary_bg;
    margin: 0;
    width: 100%;
    #om-oss_head {
        text-align: center;
        color: #A2ABAB;
        
        @include m.desktop {
            color: #B4C4AE;
            display:flex;
            justify-content: center;
        }

    }
    #flexbox-om-oss {
        @include m.desktop {
            display: flex;
            margin: 40px;
            
            .paragraph {
                margin: 20px;
                
                
            }
        #logo-container{
            margin-left: 0;
            margin-top: 40px;
            width: 200%;
            height: auto;
            
            #om-oss__image{
                width: 100%;
                height: 75%;
                background-size: cover;
                background-image: url('../assets/image-from-rawpixel-id-6439835-original.png');
            }
        }
        }
    }
    #om-oss {
        height: 100%;
        background-color: #586994;
        font: 16px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        
        @include m.desktop {
            background-color: #A2ABAB;
            color: #586994;
            
            p{
                display: flex;
                justify-content: center;
                margin: 20px;
            }
        }
    }

            // display: flex;

            // #om-oss_head {
            //     color: #B4C4AE;
                
            // }
    #logo-container{
                margin-left: 0;
                width: 45%;
                height: 200px;  
                margin-top: 5%;
                display: flex;
                // border: 1px solid #7D869C;
        #om-oss__image{
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    // border: 1px solid #7D869C;
                    background-image: url('../assets/image-from-rawpixel-id-6439835-original.png');
                    @include m.desktop{
                        //width: 25%;

                    }
                }
            }
    
    #contact {
        background-color: #7D869C;
        font-size: 12px;
        height: 30vh;
        width: 100%;
        margin-bottom: 0;
        #footer-container {
            display: flex;
            flex-direction: row;
            justify-content: end;
            // padding-right: 60px;
            width: 100%;
            margin-bottom: 0;
            margin-right: 0;
            #image-container{
                margin-left: 0;
                width: 45%;
                // height: 200px;  
                margin-top: 5%  ;
                // border: 1px solid #7D869C;
                #footer-img{
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    // border: 1px solid #7D869C;
                    background-image: url('../assets/image-from-rawpixel-id-6439835-original.png');
                }
            }
            .contact__adress{
            margin-top: 10px;
            padding-right: 10px;
            padding-left: 10px;
            align-items: center;
            list-style-type: none;
            padding-left: 20px;

                .contact__adress__info{
                    width: v.$full_width;
                    padding: v.$small v.$zero;
                }
            }
            .contact__social{
                padding-left: 10px;
                padding-right: 10px;

            margin-top: 10px;
            // margin-right: 60px;
            list-style-type: none;
            // margin-left: 40px;
                .contact__social__media{
                    width: v.$full_width;
                    margin: 0;
                    list-style-type: none;
                    padding: v.$small v.$zero v.$small v.$zero;
                    #instagram{
                    padding-left: v.$small;
                    }
                    #twitter{
                    padding-left: v.$xsmall;
                    }
                    #facebook{
                    padding-left: 14px;
                    }
                }
            } 
        }
        #copyright {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            // #copyright_paragraph{
              margin: 0 auto;
                
            // }
        }

        @include m.desktop {
           
            #contact {
                font-size: 12px;
                height: 30vh;
                width: 100%;
                margin-bottom: 0;
                #footer-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    // padding-right: 60px;
                    width: 100%;
                    margin-bottom: 0;
                    margin-right: 0;
                    #image-container{
                        margin-left: 0;
                        width: 45%;
                        // height: 200px;  
                        margin-top: 5%  ;
                        // border: 1px solid #7D869C;
                        #footer-img{
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            // border: 1px solid #7D869C;
                            background-image: url('../assets/image-from-rawpixel-id-6439835-original.png');
                        }
                    }
                    .contact__adress{
                    margin-top: 10px;
                    padding-right: 10px;
                    padding-left: 10px;
                    align-items: center;
                    list-style-type: none;
                    padding-left: 20px;
        
                        .contact__adress__info{
                            width: v.$full_width;
                            padding: v.$small v.$zero;
                        }
                    }
                    .contact__social{
                        padding-left: 10px;
                        padding-right: 10px;
        
                    margin-top: 10px;
                    // margin-right: 60px;
                    list-style-type: none;
                    // margin-left: 40px;
                        .contact__social__media{
                            width: v.$full_width;
                            margin: 0;
                            list-style-type: none;
                            padding: v.$small v.$zero v.$small v.$zero;
                            #instagram{
                            padding-left: v.$small;
                            }
                            #twitter{
                            padding-left: v.$xsmall;
                            }
                            #facebook{
                            padding-left: 14px;
                            }
                        }
                    } 
                }
                #copyright {
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    align-items: center;
                    // #copyright_paragraph{
                        
                    // }
                }

            } 
        }
    }
}