@use 'variables' as v;
@use "reviews" as r;
@use 'mixins' as m;

body{
    background-color: v.$primary_bg;
    margin: 0;
    width: 100%;    
    #home{
        height: 10vh;
        display: flex;
        justify-content: center;
        // flex-wrap: wrap;
        background-color: #7D869C;
        header{
        //   background-image: v.$hero_image;
        //   background-size: cover;
        //   background-repeat: no-repeat;
        //   background-position: center;
          height: v.$full_height;
          width: v.$full_width;
        //   margin: 0;

            #toggle {
              display: none;
              }
            .hamburger {
              position: absolute;
              text-align: center;
              top: 5em;
              right: 5%;
              margin: -60px v.$small v.$zero -2em ;
              width: 2em;
              height: 45px;
              z-index: 5;
              margin-bottom: 5px;
              padding-right: v.$small;
            }
            .hamburger div {
              position: relative;
              width: 3em;
              height: 7px;
              border-radius: 3px;
              background-color: v.$main_color;
              margin-top: 8px;
              transition: all 0.3s ease-in-out;
            }
            /**
                  Nav Styles
            **/
            .nav {
              width: v.$full_width;
              overflow: hidden;
              transition: all 0.3s ease-in-out;
              transform: scale(0);
              .nav-wrapper {
                position: relative;
                overflow: hidden;
                overflow-y: auto;
                height: v.$full_height;
                .nav__wrapper__nav {
                  text-align: center;
                  padding-top: 25px;
                  background-color: rgba(255, 255, 255, 0.163);
                  #name-header{
                    margin: 0;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    padding-left: 19px;
                    font-size: 32px;
                }
                  .nav__wrapper__nav--a {
                    position: relative;
                    text-decoration: none;
                    color: v.$main_color;
                    font-size: v.$nav_font_size;
                    display: inline-block;
                    margin-top: v.$xsmall;
                    transition: color 0.2s ease-in-out;
                    letter-spacing: 1px;
                    &:before {
                      content: '';
                    }
                    &:hover {
                      color: v.$main_color;
                      border-bottom: v.$border_size solid v.$main_color;
            
                    }
                    &:hover::before {
                      height: v.$full_height;
                    }
                  }
                }
              }
            } 
  
            /**Animations**/
  
            #toggle:checked + .hamburger .top-bun {
              transform: rotate(-45deg);
            }
            #toggle:checked + .hamburger .bottom-bun {
              opacity: 0;
              transform: rotate(45deg);
            }
            #toggle:checked + .hamburger .meat {
              transform: rotate(45deg);
              margin-top: -7px;
            }
              
            #toggle:checked + .hamburger + .nav {
              top: 0;
              transform: scale(1);
            }
        }
    } 
    #om-oss_head {
        text-align: center;
        color: #A2ABAB;
        
        
        @include m.desktop {
            color: #B4C4AE;
        }

    }
    #logo-container {
        display: none;
    }
    #flexbox-om-oss {
        @include m.desktop {
            display: flex;
            margin: 40px;
            
            // .paragraph {
            //     margin: 20px;
                
                
            // }
        #logo-container{
            margin-left: 0;
            margin-top: 40px;
            width: 200%;
            height: auto;
        
        }
        }
    }
    #om-oss {
        height: 100%;
        background-color: #586994;
        font: 16px;
        position: relative;
        padding: 30px;
        // display: flex;
        // justify-content: space-between;
        
        @include m.desktop {
            background-color: #A2ABAB;
            color: #586994;
            
            p{
                display: flex;
                justify-content: center;
                margin: 20px;
            }
        }
    }

    // #logo-container{
    //             margin-left: 0;
    //             width: 45%;
    //             height: 200px;  
    //             margin-top: 5%;
    //             display: flex;
    //     #om-oss__image{
            
    //                 width: 75%;
    //                 height: 75%;
    //                 background-size: cover;
    //                 background-image: url('../assets/image-from-rawpixel-id-6439835-original.png');
    //             }
    //         }
    
    #contact {
        background-color: #7D869C;
        font-size: 12px;
        height: 30vh;
        width: 100%;
        position: relative;
        bottom: 0;
        // margin-bottom: 0;
        #footer-container {
            display: flex;
            flex-direction: row;
            justify-content: end;
            // padding-right: 60px;
            width: 100%;
            margin-bottom: 0;
            margin-right: 0;
            #image-container{
                margin-left: 0;
                width: 35%;
                height: 150px;  
                margin-top: 5%  ;
                // border: 1px solid #7D869C;
                #footer-img{
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    // background-repeat: no-repeat;
                    // background-position: center;
                    // border: 1px solid #7D869C;
                    background-image: url('../assets/image-from-rawpixel-id-6439835-original.png');
                }
            }
            .contact__adress{
            margin-top: 10px;
            padding-right: 10px;
            padding-left: 10px;
            align-items: center;
            list-style-type: none;
            padding-left: 20px;

                .contact__adress__info{
                    width: v.$full_width;
                    padding: v.$small v.$zero;
                }
            }
            .contact__social{
                padding-left: 10px;
                padding-right: 10px;

            margin-top: 10px;
            // margin-right: 60px;
            list-style-type: none;
            // margin-left: 40px;
                .contact__social__media{
                    width: v.$full_width;
                    margin: 0;
                    list-style-type: none;
                    padding: v.$small v.$zero v.$small v.$zero;
                    #instagram{
                    padding-left: v.$small;
                    }
                    #twitter{
                    padding-left: v.$xsmall;
                    }
                    #facebook{
                    padding-left: 14px;
                    }
                }
            } 
        }
        #copyright {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            background-color: #7D869C;

            // #copyright_paragraph{
              margin: 0 auto;
                
            // }
        }
    }
    @include m.desktop {
        #home{
            header{    
            .hamburger {
                display: none;
              }
                .nav {
                  transition: none;
                  transform: scale(1);
                  .nav-wrapper{
                    .nav__wrapper__nav {
                    display: flex;
                    justify-content: start;
                    gap: v.$medium;
                    height: 45px;
                    text-align: center;
                    align-items: center;
                    padding: 15px;
                    background-color: #7D869C;
                    .nav__wrapper__nav--a {
                      font-size: v.$medium;
                      }
                    }   
                  }
                }
              }
            }
            #logo-container{
                margin-left: 0;
                width: 45%;
                height: 200px;  
                margin-top: 5%;
                display: flex;
        #om-oss__image{
            
                    width: 75%;
                    height: 75%;
                    background-size: cover;
                    background-image: url('../assets/image-from-rawpixel-id-6439835-original.png');
                }
            }
    
        // display: flex;
        // flex-direction: column;
            #contact {
                font-size: 22px;
                height: 40vh;
                width: 100%;
                margin-bottom: 0;
                position: relative;
                bottom: 0;
                margin-bottom: 0;
                #footer-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    // padding-right: 60px;
                    width: 100%;
                    margin-bottom: 0;
                    margin-right: 0;
                    #image-container{
                        margin-left: 0;
                        justify-items: left;
                        width: 25%;
                        height: 200px;  
                        margin-top: 5%  ;
                        // border: 1px solid #7D869C;
                        #footer-img{
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            // border: 1px solid #7D869C;
                            background-image: url('../assets/image-from-rawpixel-id-6439835-original.png');
                        }
                    }
                    .contact__adress{
                    margin-top: 10px;
                    padding-right: 10px;
                    margin-left: 80px;
                    padding-left: v.$xlarge;
                    align-items: center;
                    list-style-type: none;
                    padding-left: 20px;
        
                        .contact__adress__info{
                            width: v.$full_width;
                            padding: v.$small v.$zero;
                        }
                    }
                    .contact__social{
                        padding-left: 10px;
                        padding-right: 10px;
        
                    margin-top: 10px;
                    margin-right: 25%;
                    margin-left: 40px;
                    // margin-right: 60px;
                    list-style-type: none;
                    // margin-left: 40px;
                        .contact__social__media{
                            width: v.$full_width;
                            margin: 0;
                            list-style-type: none;
                            padding: v.$small v.$zero v.$small v.$zero;
                            #instagram{
                            padding-left: v.$small;
                            }
                            #twitter{
                            padding-left: v.$xsmall;
                            }
                            #facebook{
                            padding-left: 14px;
                            }
                        }
                    } 
                }
                #copyright {
                    background-color: #7D869C;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    align-items: center;
                    // #copyright_paragraph{
                        
                    // }
                }
    
            }    
        
    }
}